body {
  max-width: 1200px;
  width: 80%;
  margin: 30px 50px;
}
.weather-forecast {
  background: radial-gradient(
    592px at 48.2% 50%,
    rgba(255, 255, 249, 0.6) 0%,
    rgb(160, 199, 254) 74.6%
  );
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  opacity: 0.99;
  border-radius: 5px;
  border: 1px solid #767676;
  padding: 30px;
}
ul {
  padding-inline-start: 0px;
}
ul li {
  list-style-type: none;
}
#description {
  text-transform: capitalize;
}

.form-control {
  border: none;
}
a {
  transition: ease-in-out 1s;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.search_city {
  margin: 30px 0;
}
.search_city input,
button {
  margin-bottom: 20px;
}
.current_city {
  color: rgb(0, 0, 0);
  margin: 20px 0;
}
.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
.footer {
  text-align: center;
}
.footer a {
  font-size: 1rem;
}
.weather-forecast-future {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 16px;

  opacity: 0.6;
}
.weather-forecast-temperature {
  font-size: 13px;
}
.weather-forecast-temperature-min {
  opacity: 0.6;
}
